body {
  color: rgba(117, 117, 117, 1);
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio-header {
  color: #212121;
}

.studio-footer {
  color: #ffffff;
}

/* Цвет основного текста  #212121; */
/* Вторичный цвет rgba(117, 117, 117, 1) */
/* Номер #757575; */
/* Акцент #2196F3 */
/* Белый цвет(хэдэр) #FFFFFF */

/* Футер rgba(255, 255, 255, 0.6); Адресс rgba(255, 255, 255, 1) */
/* Бэкграунд-темный  #2F303A; */
/* Бэкграунд-светлый #E5E5E5 */
/* Бэкграунд-светлый-2 #F5F4FA */
